# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env

# Node
node_modules/

# Astro
dist/
.astro/

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE
.vscode/
.idea/ 